body {
  background-color:#B3A8A6 ;
}

.container {
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border: 3px solid black;
  width: 70%;
  height: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.gol-grid {
  border: 1px solid black;
}

td {
  height: 10px;
  width: 10px;
  border: 1px solid black;
}

td:hover {
  cursor: pointer;
}
button {
  color: white;
  background-color: darkgrey;
  font-size: 20px;
  margin-top: 1%;
  border-radius: 3px;
  text-decoration: none;
}

button:focus {
  border: 1px solid black;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.caption {
  margin-top:1%;
  font-size: 30px;
}
